body {
    background-color: mediumpurple;
    margin: 0 10%;
}

h1 {
    color: navy;
    text-align: center;
}

h2 {
    color: darkslateblue;
    font-style: italic;
    text-align: center;
}

p {
    font-family: sans-serif;
}